body{
	width:1331px;
}

/*NAVIGATION BAR*/
.navbar ul{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background-color:#4682b4;
	height:50px;
	margin-top:100px;
	margin-bottom:0px;
	padding:0px;
	border: 2px solid #daa520;
	width:1331px;
}
.navbar li{
	padding:12px;
	list-style-type:none;
	float:left;
	border-right:1px solid #DAA520;
	font-style:italic;
}

.navbar li:hover{
	background-color:white;
	border-bottom: 2px solid #daa520;
}

.navbar li a{
	text-decoration:none;
	color:#daa520;
	font-weight:bold;
	font-size:23px;
}

.navbar li:nth-child(5){
	float:right;
}

.navbar li a.dropDown{
	text-decoration:none;
	color:#4682b4;
	font-weight:bold;
	font-size:18px;
}

.navbar li a:hover{
	text-decoration:none;
	color:#4682b4;
	font-weight:bold;
}

.navbar li a.dropDown:hover{
	text-decoration:none;
	color:#daa520;
	font-weight:bold;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
	margin-right:8px;
	margin-top:13px;
	right:0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;	
	z-index: 1;
}

.dropdown-content a {
    padding: 14px 16px;
    display: block;
    border:1px solid #daa520;
	text-align: left;
}

.dropdown-content a:last-child{
	padding-left:70px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}

.show{
	display:block
}

/*Main section*/

.back_bg{
	height:520px;
	overflow:hidden;
	width:1331px;	
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border:2px solid #daa520;
	border-top:1px solid white;
}


/*Side table*/
.aside ul{
	float:left;
	margin:41px 1px;
	list-style-type:none;
	color:#daa520;
	width:200px;
}

.aside li a{
	text-decoration:none;
	color:#4682b4;
	font-size: 20px;
	font-family:times new roman;
}

.aside li a:hover{
	color:#daa520;
}

.aside li{
	padding:10px;
	background-color:white;
	border: 1px solid #daa520;
}

#side_table_top{
	font-weight:bold;
	font-size:20px;
	background-color:#4682b4;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
/*Adding Stocks Section*/

.section{
	float:left;
	margin:41px 0px 0px 50px;
	list-style-type:none;
	color:#daa520;
	width:1002px;
	height:460px;
	border:1px solid #daa520;
	border-radius:6px;
	overflow-y:scroll;
}

.section h3{
	padding: 10px;
	width:980px;
	background-color:#4682b4;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border: 1px solid #daa520;
	margin-top:0px;
}

.section form{
	height:auto;
	
}

.section ul{
	padding-left:10px;	
	list-style-type:none;
	float:left;
	color:#4682b4;
	
}

.left li{
	font-size:20px;
	padding:25px 20px 30px 	0px;
	margin-left:50px;
	list-style-type:disc;
}



.left-text li{
	padding:20px 10px 36px 0px;
	margin-left:0px;
}

.left-text input{
	text-align:center;
	height:20px;
	border:1px solid #daa520;
	border-radius:2px;
}

.right li{
	font-size:20px;
	padding:25px 20px 30px 0px;
	margin-left:80px;
	list-style-type:disc;
}



.right li:last-child{
	list-style-type:none;
}

.right-text li{
	padding:20px 10px 36px 0px;
	margin-left:0px;
}

.right-text input{
	text-align:center;
	height:20px;
	border:1px solid #daa520;
	border-radius:2px;
}
.right-text span{
	text-align:center;
	height:20px;
	border:1px solid #daa520;
	border-radius:2px;
}
.right-text span contenteditable{
	text-align:center;
	height:20px;
	border:1px solid #daa520;
	border-radius:2px;
}

.button{
	padding:10px;
	margin-left:40px;
	border: 2px solid #daa520;
	color:#daa520;
	border-radius:5px;
	background-color:white;
	font-weight:bold;
}

.button:hover{
	color:#4682b4;
}


/*footer*/
footer{
	position:relative;
	top:220px;
	text-align:center;
	padding-top:8px;
	font-size:20px;
	color:#DAA520;
	background-color:#4682B4;
    width:100%;
	height: 40px;
    border-radius:5px;	
	
}